body {
	background-color: #14171a;
	margin: 0;
	padding: 0;
}

* {
	font-family: Arial, Helvetica, sans-serif;
	color: #f5f8fa;
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

.site-wrapper {
	margin: 30px auto;
	position: relative;
	max-width: 600px;
}

h1 {
	text-align: center;
	color: #1da1f2;
	margin: 50px 0;
}

.tweet-container {
	position: relative;
	display: flex;
	border: 1px solid #f5f8fa;
	border-radius: 12px;
	padding: 15px;
	margin-bottom: 50px;
	transition: height 0.5s;
	/* height: 0; */
	overflow: hidden;
}

.tweet-container::after {
	display: block;
	content: '';
	width: 1px;
	height: 50px;
	background-color: white;
	position: absolute;
	bottom: -50px;
	left: 35px;
}
.tweet-container:last-child::after {
	height: 0;
}

.picture {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.tweet-content {
	margin: 0 15px;
	width: 100%;
}

.info {
	display: flex;
	margin-bottom: 20px;
}

.info > * {
	margin-right: 10px;
}

.handle,
.dot,
.time,
.character-counter {
	color: #a7a7a7;
}

.tweet {
	background: none;
	border: none;
	margin-bottom: 20px;
	resize: none;
	font-size: 15px;
	line-height: 20px;
	width: 100%;
	padding: 5px;
}

.tweet:focus {
	outline: none !important;
	box-shadow: 0 0 10px rgba(29, 160, 242, 0.342);
}

.icons {
	/* width: 80%; */
	display: flex;
	justify-content: space-between;
}

svg {
	height: 18px;
	transition: all 0.1s;
}

svg path {
	color: #a7a7a7;
}

svg:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.delete-tweet-button {
	color: #f5f8fa;
	background-color: #1da1f2;
	font-size: 0.8rem;
	padding: 3px 10px 2px 10px;
	border-radius: 5px;
}

.delete-tweet-button {
	cursor: pointer;
}

.character-counter {
	position: absolute;
	right: 25px;
	top: 15px;
}

.character-progression-bar {
	position: absolute;
	height: 0%;
	width: 6px;
	top: 0;
	right: 0;
	background-color: #1da1f2;
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

@media (max-width: 550px) {
	.buttons {
		flex-direction: column;
	}
}

.button {
	background-color: #1da1f2;
	border: none;
	width: 160px;
	height: 40px;
	/* padding: 10px 30px; */
	border-radius: 12px;
	font-size: 1rem;
	margin: 10px 0;
}

.button:hover {
	cursor: pointer;
}

.info-modal-button {
	position: absolute;
	right: 50px;
	top: 50px;
	margin: 0 auto 10px auto;
	width: 40px;
	aspect-ratio: 1;
	background-color: #1da1f2;
	border-radius: 50%;
	display: flex;
	cursor: pointer;
	z-index: 5;
	transition: all 0.3s;
}

.info-modal-button img {
	max-width: 50%;
	/* max-height: 60%; */
	margin: auto;
}

.info-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75vw;
	max-width: 700px;
	height: 60vh;
	background-color: white;
	padding: 8rem 6rem;
	border-radius: 5px;
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
	z-index: 20;
	overflow: scroll;
	text-align: center;
	transition: all 0.5s;
}

.info-modal h1,
.info-modal h2,
.info-modal p,
.info-modal li,
.fa-github {
	color: #14171a;
}

strong {
	color: #1da1f2;
}

.info-modal h1 {
	font-size: 3rem;
	margin-bottom: 60px;
}

.info-modal .logo {
	margin: 0 0 -15px 15px;
}

.info-modal p {
	font-size: 1.2rem;
	text-align: justify;
	margin-bottom: 30px;
}

.info-modal ul {
	font-size: 1.2rem;
	text-align: justify;
	padding: 0 40px;
	margin-bottom: 30px;
}

.info-modal li {
	margin-bottom: 10px;
}

.info-modal .technologies-used {
	text-align: center;
	font-style: italic;
	margin-bottom: 5px;
}

.technologies-used-icons {
	display: flex;
	justify-content: center;
	margin-bottom: 70px;
}

.technologies-used-icons img {
	padding: 10px;
	width: 60px;
}

.info-modal h2 {
	font-size: 2rem;
	margin-bottom: 15px;
}

.fa-github {
	font-size: 5rem;
	margin-bottom: 40px;
	cursor: pointer;
	transition: all 0.3s;
}

.fa-github:hover {
	color: rgb(90, 90, 90);
}

.close-info-modal-button {
	position: absolute;
	top: 2rem;
	right: 3rem;
	font-size: 2rem;
	color: #333;
	cursor: pointer;
	border: none;
	background: none;
}

.modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
	opacity: 1;
	z-index: 15;
	transition: all 0.5s;
}

.hidden {
	display: none;
}
